@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.banner-container{
    background-image: url("/assets/Hero-bg.png");
    height: 650px;
    width: 95%;
    margin: auto;

}
.banner-content{
    width: 70%;
    margin: auto auto;
    text-align: center;
    padding-top: 100px;
}
.Contact-button {
    margin-top: 50px;
}
.heading-text{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 40px;
font-weight: 800;
}
.discription-text{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.Contact-button{
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    ;
}
.development-container{
    height: auto;
    width: 70%;
    margin: auto;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 80px;
    padding: 80px 97px;
    
}
.development-content{
    text-align: center;
    padding: 50px;
}
.text-content{
    height: auto;
    width: 450px;
    display: inline-block;
    position: relative;
    padding: 50px;

}
.service-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 100px 50px;
    border-radius: 16px;
}
.learn-button{
    padding: 12px 18px;
}
.web-content {
    height: auto;
    width: 450px;
    display: inline-block;
    position: relative;
    padding: 50px;
}
.web-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 100px 50px;
    border-radius: 16px;
}
.world-content {
    height: auto;
    width: 450px;
    display: inline-block;
    position: relative;
    padding: 50px;
}
.world-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 100px 50px;
    border-radius: 16px;
}
.inspiration-container{
    height: auto;
    width: 70%;
    margin: auto;
}
.inspiration-content{
    text-align: center;
    padding: 50px;
}
.support-container{
    background-image: url(../assets/handshake.jpg);
    width: 1044px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 48px;
    margin-top: 200px;

    

}
.support-content{
    color: white;
    text-align: center;
    

}
.form-content{
    text-align: center;
}
.suggest-content{
    padding: 19px 20px 19px 20px;
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
}
.ispiration-heading{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;

}
.inspiration-discription{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}